@media screen and (max-width:1024px)
{

#contactUsDiv
{
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

#contactUsDiv > div:last-child
{
	display: none;
}

#contactUsDiv > div > h1
{
	margin-bottom: 6rem;
}

#exchangesDiv > h1
{
	text-align: center;
}

#priceDiv > h1
{
	text-align: center;
}

#socialMediaDiv > h1
{
	text-align: center;
}

}
